.container {
  width: 10rem;
  height: 640/75rem;
  background-image: url('/static/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.i-warn, .i-set {
  color: #fff;
  font-size: 48/75rem;
  position: absolute;
  top: 28/75rem;
}
.i-warn {
  right: 116/75rem;
}
.i-set {
  right: 30/75rem;
}
.detail-info {
  padding-top: 76/75rem;
  width: 10rem;
  height: 560/75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.portait {
  width: 128/75rem;
  height: 128/75rem;
  border-radius: 64/75rem;
  background: url('/static/portait.png') no-repeat;
  background-size: 100% 100%;
}
.option {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}
.data-set {
  width: 152/75rem;
  height: 52/75rem;
  color: #fff;
  border: solid 1/75rem #fff;
  text-align: center;
  line-height: 52/75rem;
  border-radius: 0.3333rem;
  font-size: 22/75rem;
  .i-more {
    font-size: 22/75rem;
  }
}