.mask {
  width: 10rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}
.picker-panel {
  width: 10rem;
  height: 470/75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 2;
  font-size: 32/75rem;
}
.box-day {
  width: 10rem;
  height: 470/75rem;
  overflow: visible;
  //overflow-x: hidden;
}
.check-line {
  width: 10rem;
  height: 55/75rem;
  border: solid 1/75rem #000;
  position: absolute;
  top: 212/75rem;
  left: 0;
}
.day-wheel {
  position: absolute;
  overflow: visible;
  height: px2rem(68px);
  font-size: px2rem(36px);
  top: px2rem(180px);
  left: 0;
  right: 0;
  color: red;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.wheel-div {
  height: px2rem(68px);
  line-height: px2rem(68px);
  position: absolute;
  top:0;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}