.wrapper {
  width: 10rem;
  height: 100%;
  background: #fff;
  padding-top: 10/75rem;
}
.content {
  border-top: solid 1/75rem #b2b2b2;
  margin-top: 1.27rem;
}
.upload-wrapper{
  width: 10rem;
  display: flex;
  justify-content: space-around;
}
.upload {
  width: 178/75rem;
  height: 178/75rem;
  border-radius: 89/75rem;
  border: solid 6/75rem #f84444;
  position: relative;
  margin: 58/75rem 0 78/75rem 0;
  .user-photo {
    width: 164/75rem;
    height: 164/75rem;
    border-radius: 82/75rem;
    background-image: url('../../../../static/portrait.jpg');
    background-size: cover;
    margin: 1/75rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
    }
    label {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      position: absolute;
      top: 0;
    }
    #upload-file {
      display: none;
    }
  }
  .take-photo {
    width: 64/75rem;
    height: 64/75rem;
    line-height: 64/75rem;
    text-align: center;
    border-radius: 32/75rem;
    position: absolute;
    right: 0/75rem;
    bottom: 10/75rem;
    background: #fff;
    border: solid 1/75rem #e1e1e1;
    .i-photo {
      font-size: 48/75rem;
    }
  }
}
.name, .sex, .address, .birth, .sign{
  width: 654/75rem;
  height: 100/75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1/75rem #e1e1e1;
  margin: 0 48/75rem;
}
.font-color {
  color: #919191;
  border: none;
  outline: none;
  font-size: 28/75rem;
}
.aligs {
  text-align: center;
}
.user-sex {
  display: inline-block;
  width: 22/75rem;
  height: 22/75rem;
  border-radius: 11/75rem;
  border: solid 1/75rem lightslategray;
  margin-right: 10/75rem;
}
.sex-icon {
  height: 32/75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.i-girl {
  font-size: 32/75rem;
  color: #F73F7D;
  margin-right: 54/75rem;
}
.i-boy {
  font-size: 32/75rem;
  color: lightskyblue;
}
.active {
  width: 16/75rem;
  height: 16/75rem;
  border-radius: 8/75rem;
  background: #f84444;
  margin: 0.01rem;
}
.btn {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  margin-top: 80/75rem;
}
.submit {
  width: 500/75rem;
  height: 80/75rem;
  background: #f84444;
  border-radius: 35/75rem;
  text-align: center;
  line-height: 80/75rem;
  color: #fff;
  font-size: 32/75rem;
  letter-spacing: 5/75rem;
}