.bg{
  width: 650/75rem;
  height: 650/75rem;
  margin: 0 auto;
  background: url('/static/test/turntable-bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
 }
 .pointer{
    position: absolute;
    z-index: 10;
    top: 165/75rem;
    left: 280/75rem;
    //transform: rotate(0deg)
 }
 .turntable{
    width: 500/75rem;
    height: 500/75rem;
    position: absolute;
    z-index: 5;
    top: 60/75rem;
    left: 116/75rem;
    transition: all 4s;
 }