.container {
    width: 10rem;
    background: #fff;
    .tab {
      height: 148/75rem;
      display: flex;
      justify-content: space-around;
      .per-tab {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .icon {
          font-size: 54/75rem;
        }
        span {
          font-size: 24/75rem;
        }
      }
    }
    .title {
      padding: 64/75rem 0 32/75rem 0;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 36/75rem;
        font-family: bold;
      }
      .more {
        color: #919191;
      }
    }
    .life {
      background: #f8f8f7;
      padding: 0 32/75rem;
      .life-detail-wrapper {
        height: 486/75rem;
        margin-bottom: 12/75rem;
        position: relative;
        .life-detail-name {
          position: absolute;
          top: 32/75rem;
          left: 32/75rem;
          font-weight: bold;
        }
        .life-detail-english {
          position: absolute;
          top: 32/75rem;
          left: 128/75rem;
        }
        .life-detail-store {
          position: absolute;
          top: 22/75rem;
          right: 28/75rem;
          font-size: 48/75rem;
          color: #ff3366;
        }
        .pic-name {
          position: absolute;
          bottom: 72/75rem;
          left: 32/75rem;
          font-size: 32/75rem;
          font-weight: bold;
        }
        .pic-price {
          position: absolute;
          bottom: 24/75rem;
          left: 32/75rem;
          font-size: 36/75rem;
          color: #ff3366;
        }
        .pic-date {
          position: absolute;
          bottom: 24/75rem;
          left: 280/75rem;
        }
        .pic-address {
          position: absolute;
          bottom: 24/75rem;
          right: 28/75rem;
        }
      }
    }
    .p-portrait {
      width: 84/75rem;
      height: 84/75rem;
      border-radius: 42/75rem;
      margin-top: 12/75rem;
      background-size: 84/75rem;
    }
    .artist {
      background: #f8f8f7;
      padding: 0 32/75rem;
      .focus {
        width: 686/75rem;
        .focus-wrapper {
          display: flex;
          justify-content: space-between;
          overflow-x: scroll;
          .people-info {
            width: 432/75rem;
            height: 432/75rem;
            background: #fff;
            border: solid 1px lightgray;
            box-shadow: 0 2/75rem 2/75rem 0 lightgrey;
            border-radius: 10/75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 432/75rem;
            margin-right: 16/75rem;
            .p-name,.p-desc {
              margin: 12/75rem 0;
            }
            .p-desc, .fans-activity {
              font-size: 22/75rem;
            }
            .p-works {
              width: 432/75rem;
              margin-top: 12/75rem;
              display: flex;
              justify-content: space-around;
              img {
                width: 128/75rem;
                height: 128/75rem;
              }
            }
            .focus-btn {
              width: 116/75rem;
              height: 38/75rem;
              font-size: 22/75rem;
              text-align: center;
              line-height: 38/75rem;
              margin-top: 20/75rem;
            }
            .not-focus {
              border: solid 1px #ff3366;
              color: #ff3366;
            }
          }
        }
      }
    }
    .special-topic {
      background: #f8f8f7;
      padding: 0 32/75rem;
      .special-detail-pic {
        width: 686/75rem;
        height: 240/75rem;
        margin-bottom: 20/75rem;
      }
    }
    .circle {
      padding: 0 32/75rem;
      .circle-detail {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .p-info {
          height: 84/75rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-left: 20/75rem;
        }
      }
    }
}