.container {
    width: 10rem;
    padding-bottom: 98/75rem;
    background: #fff;
    .tab {
      height: 148/75rem;
      display: flex;
      justify-content: space-around;
      .per-tab {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .icon {
          font-size: 54/75rem;
        }
        span {
          font-size: 24/75rem;
        }
      }
    }
    #detail {
      background: #f8f8f7;
    }
}