.container {
  width: 10rem;
  padding-bottom: 98/75rem;
}
.nav {
  display: flex;
  margin: 10/75rem 0;
  text-align: center;
  background-color: #fff;
  .nav-item {
    flex: 1;
    justify-content: center;
  }
  .hot,.history {
    display: inline-block;
    width: 136/75rem;
    height: 140/75rem;
    background-size: 136/75rem 140/75rem;
  }
  .hot {
    background-image: url('/static/images/activity/event_hot_not_select_bottom@2x.png');
  }
  .hot.active {
    background-image: url('/static/images/activity/event_hot_select_bottom@2x.png');
  }
  .history {
    background-image: url('/static/images/activity/event_history_not_select_bottom@2x.png');
  }
  .history.active {
    background-image: url('/static/images/activity/event_history_select_bottom@2x.png');
  }
}